<% include ./partials/header %>

  <div class="login-page">
    <div class="form">
      <form action="/forgot" method="POST">
        <h3 class="pull-left header-form">
          Forgot Password
        </h3>
        <input type="email" name="email" placeholder="email">
        <button>Reset Password</button>
      </form>
    </div>
  </div>

<% include ./partials/footer %>