<% include ./partials/header %>

  <div class="login-page">
    <div class="form">
      <form action="/reset/<%= token %>" method="POST">
        <h3 class="pull-left header-form">
          Reset Password
        </h3>
        <input type="password" name="password" placeholder="New Password">
        <input type="password" name="confirm" placeholder="Confirm password">
        <button>Update Password</button>
      </form>
    </div>
  </div>

<% include ./partials/footer %>